<div>
  <h2>Name: <%= @user.name %></h2>
  <h2>Alias: <%= @user.alias %></h2>
  <h2>Email: <%= @user.email %></h2>
</div>
<div>
  <h2>Total Number of Posts:<%=  @posts%></h2>
  <h2>Total Number of Likes:<%=  @likes%></h2>
</div>
